/* Start global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: arial,sans-serif;
}
.container {
  padding-left: 10px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 95%;
}
/* End global rules */
/* Start header */
.header {
  padding: 20px;
  background-color: #d5d5d52b;
  box-shadow: 0 -10px 30px #000000;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header .links {
  position: relative;
}
.header .links .icon {
  width: 40px;
  height: 34px;
  border: 2px solid #00000091;
  padding: 5px 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.header .links .icon:hover {
  cursor: pointer;
  background-color: #eee;
  border-color: #00000071;
}
.header .links .icon span {
  background-color: #3c4043f0;
  margin-bottom: 5px;
  height: 3px;
}
.header .links .icon span:first-child {
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  width: 60%;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.header .links .icon span:last-child {
  width: 100%;
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  position: absolute;
  right: -1px;
  min-width: 180px;
  top: calc(100% + 21px);
  display: none;
  z-index: 2;
}
.header .links ul::before {
  content: "";
  border-width: 20px 20px;
  border-style: solid;
  border-top: none;
  border-color: transparent transparent #eee transparent;
  position: absolute;
  right: 0;
  top: -20px;
}
.header .links:hover ul {
  display: block;
}
.header .links ul li a {
  display: block;
  text-decoration: none;
  padding: 10px;
  color: #333;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.header .links ul li a:hover {
  padding-left: 20px;
}
.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}
.header .logo {
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}
.logo span {
  width: 7px;
  margin: 1px;
  display:inline-block;
} 
.blue {
  color: #537fbe;
}
.red {
  color: #ea433b;
}
.yellow {
  color: #f5b82e;
}
.green {
  color: #2e944b;
}
.container > span {
  margin-left: 25px;
  margin-top: 33px;
  width: 100%;
  color: #d93025;
  font-size: 20px;
}
@media (max-width: 400px) {
  .container > span {
    font-size: 14px;
    margin-left: 20px;
    margin-top: 28px;
  }
}
/* End header */
/* Start advanced search */
.advanced {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.advanced > span {
  width: 100%;
  color: #333;
  font-size: 16px;
  margin: 0;
  padding-top: 45px;
  padding-left: 40px;
  padding-bottom: 5px;
}
.advanced .inputs {
  color: #333;
  font-size: 13px;
  margin: 0;
  padding-left: 40px;
  width: 100%;
}
.advanced > div div {
  padding-top: 16px;
  width: 100%;
}
.advanced .in1 label {
  padding-right: 84px;
}
.advanced .in2 label {
  padding-right: 25px;
}
.advanced .in3 label {
  padding-right: 62px;
}
.advanced .in4 label {
  padding-right: 54px;
}
.advanced div input {
  border-radius: 1px;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  font-size: 13px;
  height: 25px;
  width: 45%;
}
.advanced div input:focus {
  outline: 1px solid #418aff;
}
.advanced input[type="submit"] {
  -webkit-user-select: none;
  user-select: none;
  line-height: 100%;
  height: 30px;
  width: 120px;
  margin-top: 20px;
  position: absolute;
  left: 55.8%;
  transform: translate(-50%, -50%);
  bottom: -30%;
  background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
  border: 1px solid #3079ed;
  color: #fff;
  border-radius: 2px;
  cursor: default;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  outline: 0;
}
.advanced input[type="submit"]:hover {
  background-image: -webkit-linear-gradient(top,#3884ff,#4382e7);
}
@media (max-width: 472px) {
  .advanced .inputs {
    font-size: 9px;
    padding-left: 30px;
  }
  .advanced .in1 label {
    padding-right: 48px;
  }
  .advanced .in2 label {
    padding-right: 7px;
  }
  .advanced .in3 label {
    padding-right: 32px;
  }
  .advanced .in4 label {
    padding-right: 27px;
  }
  .advanced div input {
    font-size: 10px;
    height: 18px;
  }
  .advanced > span {
    font-size: 12px;
    padding-left: 30px;
  }
  .advanced input[type="submit"] {
    height: 18px;
    width: 63px;
    font-size: 7px;
    left: 65%;
    bottom: -25%;
    padding: 1px;
  }
}
/* End advanced search */
/* Start footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d5d5d52b;
  padding: 15px 5px;
  position: fixed;
  bottom: 0;
  font-size: 16px;
  box-shadow: -15px 30px 45px #000000;
}
.footer span {
  font-weight: bold;
  color: red;
  margin-left: 2px;
  margin-right: 3px;
}
@media (max-width: 400px) {
  .footer {
    padding: 10px 4px;
    font-size: 12px;
  }
}
/* End footer */